<header>
  <nav id="menu_itens" class="navbar fixed-right navbar-expand-lg bg-success navbar-expand-lg">
    <div class="container-fluid col-11 m-auto">
      <a class="navbar-brand text-light" href="#">
        <i class="bi bi-cash-coin icon-menu align-text-top"></i>
        Conversor de Moedas
      </a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="#listarMoedas">Listar Moedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#converterMoedas">Converter Moedas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#historicoDeConversoes">Histórico de conversões</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>


