<footer class="text-center text-lg-start bg-white text-light m-auto">
  <section class="d-flex justify-content-center  p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Descubra mais: </span>
    </div>
    <div>
      <ul class="d-flex gap-3 list-unstyled ">
        <li><a href="https://www.linkedin.com/in/matheus-duarte-4260771a2/" target="_blank"><i class="bi bi-linkedin"></i></a></li>
        <li><a href="https://github.com/matheusDlins" target="_blank"><i class="bi bi-github"></i></a></li>
        <li><a href="https://www.instagram.com/matheus_d_lins/" target="_blank"><i class="bi bi-instagram"></i></a></li>
      </ul>
    </div>
  </section>

  <section class="">
    <div class="container text-center text-md-start mt-5">
      <div class="row mt-3">
        <!-- Sobre o app -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            <i class="fas fa-gem me-3 text-secondary"></i>Conversor de moedas
          </h6>
          <p>
            Projeto utilizando Angular para consumir a API <a href="https://exchangerate.host/#/" target="_blank">exchangerate</a> que oferece serviços gratuitos simples e leve para taxas de câmbio atuais e históricas além de taxas de câmbio criptográficas.
          </p>
        </div>
        <!-- Tecnologias -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Tecnologias
          </h6>
          <p>
            <a href="https://angular.io/start" target="_blank" class="text-reset">Angular</a>
          </p>
          <p>
            <a href="https://www.typescriptlang.org/" target="_blank" class="text-reset">Typescript</a>
          </p>
          <p>
            <a href="https://getbootstrap.com/docs/5.0/getting-started/introduction/" target="_blank" class="text-reset">Bootstrap 5</a>
          </p>
          <p>
            <a href="https://material.angular.io/" target="_blank" class="text-reset">Angular Material UI</a>
          </p>
        </div>
        <!-- Links uteis -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
          <h6 class="text-uppercase fw-bold mb-4">
            Links úteis
          </h6>
          <p>
            <a href="https://www.youtube.com/watch?v=jYrgTS2XhBA&list=PL8iIphQOyG-DSLV6qWs8wh37o0R_F9Q_Q&index=6&ab_channel=MichelliBrito" target="_blank" class="text-reset">Curso Angular</a>
          </p>
          <p>
            <a href="https://www.youtube.com/watch?v=G5TOitIft8o&list=PLDqnSpzNKDvnh-0RCYbIL5WzGCCFV1Ghm&ab_channel=AngeloLuz" target="_blank"class="text-reset">Curso Typescript</a>
          </p>
          <p>
            <a href="https://www.youtube.com/watch?v=2c-EFQFyv4Y&list=PLXik_5Br-zO-iwhAe12sirOo_LZ0t-qEm&ab_channel=Jo%C3%A3oRibeiro" target="_blank" class="text-reset">Curso Bootstrap</a>
          </p>
        </div>
        <!-- Contato -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
          <h6 class="text-uppercase fw-bold mb-4">Contato</h6>
          <p>
            <i class="bi bi-person me-3"> Matheus Duarte</i>
          </p>
          <p>
            <i class="bi bi-envelope me-3"> matheus934qwer@gmail.com</i>
          </p>
          <p>
            <i class="bi bi-telephone me-3"> (81) 98755-3959</i>
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025);">
    © 2023 Copyright:
    <a class="text-reset fw-bold" href="https://www.linkedin.com/in/matheus-duarte-4260771a2/" target="_blank">MatheusDuarte</a>
  </div>
</footer>
