/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";

html, body { height: 100%; }

body {
  background-color: #f0f8ff;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

footer, header{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}
