<main data-bs-spy="scroll" data-bs-target="#menu_itens" data-bs-offset="0" class="scrollspy-example container" tabindex="0">
  <section id="sobre" class="ancora">
    <app-pagina-inicial></app-pagina-inicial>
  </section>
  <section id="listarMoedas" class="ancora">
    <app-lista-de-moedas></app-lista-de-moedas>
  </section>

  <section id="converterMoedas" class="ancora">
    <app-converter-moedas></app-converter-moedas>
  </section>

  <section id="historicoDeConversoes" class="ancora">
    <app-historico-conversoes></app-historico-conversoes>
  </section>
</main>


