<main data-bs-spy="scroll" data-bs-target="#menu_itens" data-bs-offset="0" class="scrollspy-example" tabindex="0">
  <section id="listarMoedas">
    <app-moedas-list></app-moedas-list>
  </section>

  <section id="converterMoedas">
    <mat-toolbar>
      <mat-toolbar-row>
        <span>Second Line1<mat-icon>date_range</mat-icon></span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>Second Line<mat-icon>date_range</mat-icon></span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
      <mat-toolbar-row>
        <span>Second Line<mat-icon>date_range</mat-icon></span>
        <span class="example-spacer"></span>
      </mat-toolbar-row>
    </mat-toolbar>
  </section>

<section id="historicoDeConversoes">
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Second Lkkkine<mat-icon>date_range1</mat-icon></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Second Line<mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Second Line<mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
  <mat-toolbar>
    <mat-toolbar-row>
      <span>Second Line<mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Second Line<mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <span>Second Line<mat-icon>date_range</mat-icon></span>
      <span class="example-spacer"></span>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
</main>


