<mat-toolbar>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  <mat-toolbar-row>
    <span>Second Line<mat-icon>date_range</mat-icon></span>
    <span class="example-spacer"></span>
  </mat-toolbar-row>
  
</mat-toolbar>

