<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Matheus / lime" #input>
</mat-form-field>

<div class="mat-elevation-z8">

  <table mat-table [dataSource]="dataSource" matSort>

    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>  Código </th>
      <td mat-cell *matCellDef="let row"> {{row.code}} </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Descrição </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <!-- <pagination-controls class="pagination" previousLabel="Anterior" nextLabel="Próximo"
              (pageChange)="pag = $event">
            </pagination-controls> -->

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [length]="this.tabelaTeste.length" [pageSize]="5" aria-label="Select page"></mat-paginator>
</div>
